<!-- this temnplate used to send email when user is signed up  -->
<div>
    <p>Hi <%= user.name %>!</p>
    <br>
    <p>Your Account for Placement Cell application has been Created successfully. You can login to application using your 
        credentials. Your login Credentials are as follows,</p>
    <p>Username- <strong><%= user.email %></strong></p>
    <p>Password- <strong><%= user.password %></strong></p>
    <img src="https://docs.cidaas.com/assets/create%20user%20successfull.PNG" alt="">
    <p>If you run into problems, please contact support by reaching <strong style="color: red;">learningdemo068@gmail.com</strong> </p>
    <br>
    <p>Thanks,</p>
    <p>Placement Cell Team</p>
</div>