<!-- add batch form  -->
<form action="/batch/create" method="POST">
    <h1>Create Batch</h1>
    <input type="text" name="name" placeholder="Batch name" required>
    <input type="text" name="cordinator" placeholder="Batch Coordinator name" required>
    <button value="createBatch" class="submit">Create</button>
    <a href="/">Back</a>
</form>