<!-- add company form  -->
<form action="/company/create" method="POST">
    <h1>Create Company</h1>
    <input type="text" name="name" placeholder="Company name" required>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Company Description" required></textarea>
    <button value="createCompany" class="submit">Create</button>
    <a href="/">Back</a>
</form>
