<h1>Companies Registered</h1>

<!-- view list of all companies with thire descriptions  -->
<div class="flex">
    <%for(let company of companies){%>
        <div class="item">
            <h1><%= company.name %></h1>
            <p><%= company.description %></p>
        </div>
    <%}%>
</div>

